<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>

<body>

<h1>Boomer Bible <span>by Gen-Z for Change</span></h1>

{% for obj in data %}
{% set curr_person = obj.name.replace(" ", "-") .lower() %}
<div class="person" id={{ curr_person }}>
    <h2>{{ obj.name }}</h2>
    {% for topic in obj.topics %}
    {% set curr_topic = topic.name.replace(" ", "-") .lower() %}
    <div class="topic" id="{{ curr_person + '_' + curr_topic }}">
        <h3>{{ topic.name }}</h3>
        {% for event in topic.events %}
        {% set curr_event = "event" + loop.index|string %}
        <div class="event" id={{ curr_person + '_' + curr_topic + '_' + curr_event }}>
            <span>{{ loop.index }}</span>
            <h4>{{ event.date }}</h4>
            <div class="bullets">
            {% for bullet in event.description %}
                <ul> {{ bullet }} </ul>
            {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>
    {% endfor %}
</div>
{% endfor %}

</body>